.time {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  padding: 0.5rem;

  & .current-day {
    background-image: linear-gradient(to right, #ffd700, #ff8c00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & .day-name {
    display: flex;
    align-items: center;
    gap: 1rem;

    & .current-day {
      font-size: 2rem;
    }
  }

  & .hour {
    background-image: linear-gradient(to right, #ffd700, #ff8c00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (max-width: 991px) {
  .time {
    & .day-name {
      display: flex;
      align-items: center;
      gap: 1rem;

      & .current-day {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 767px) {
  .time {
    & .day-name {
      & .current-day {
        font-size: 1rem;
      }
    }

    & .hour {
      font-size: 1rem;
    }
  }
}
